.detail {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
  img {
    width: 100%;
  }
  .image {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
    overflow: hidden;
    .image-display {
      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .image-select {
      @include grid(1, 1.5rem);
      object-fit: cover;

      img{
        box-shadow: $box-shadow;
        width: 100%;
        opacity: .7;
        &.active{
          opacity: 1;
          border: $borderB;
        }
      }
    }
  }
  .content {
    .product-title {
      font-size: 5rem;
      text-transform: capitalize;
      font-weight: 700;
      margin: 1rem 0;
    }
    .product-rating {
      font-size: 2rem;
      color:  $accentColor;
      span {
        font-weight: 600;
        color: #252525;
      }
    }
    .product-price {
      margin: 1rem 0;
      font-size: 3rem;
      font-weight: 700;
      span {
        font-weight: 400;
      }
      .last-price span {
        color: $accentColor;
        text-decoration: line-through;
      }
      .new-price span {
        color: $darkPrimaryColor;
      }
    }
    .product-detail {
      h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
        font-size: 2.5rem;
      }
      p {
        font-size: 2rem;
        padding: 0.3rem;
        opacity: 0.8;
        line-height: 3rem;
      }
      ul{
        margin: 1rem 0;
        li{
          margin: 0;
          list-style: none;
          padding-left: 1rem;
          font-size: 2rem;
          margin: .5rem 0;
          font-weight: 700;
          .icon{
            margin-right: 1rem;
            color: $primaryColor;
          }
          span{
            font-weight: 500;
            text-transform: capitalize
          }
        }
      }
    }
    .purchase-info{
      margin: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      text-align: center;
      input{
        align-items: center;
        border: $borderB;
        border-radius: 2.5rem;
        text-align: center;
        outline: 0;
        padding: 1rem 1rem;
      }
      .btn{
        margin-top: 0;
        border-radius: 2.5rem;
      }

    }
    .social-links{
      font-size: 2rem;
      .share {
        display: flex;
        margin-top: 1rem;
        a {
          
          padding: 1rem;
          background: $white;
          color: $darkPrimaryColor;
          margin-right: 0.5rem;
          transition: all 0.5s ease;
          
          .iconS {
            font-size: 3rem;
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            text-align: center;
            align-items: center;
          }
          &:hover {
            background: $lightPrimaryColor;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
@include tablet{
  @include grid(1, 1.5rem);
  .image{
    display: flex;
    flex-direction: column-reverse;
    .image-display {
      margin-bottom: .5rem;
    }
    .image-select {
      @include grid(4, 1rem);
    }
  }
}
@include telefono{
  .content{
    .purchase-info{
      @include grid(1, 1rem);
    }
  }
}
}
